<app-navbar></app-navbar>
<div id="multi">
    <br>
    <br>
    <div class="d-flex justify-content-center align-self-center top width">
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
            <div class="text-center mb-5">
                <!-- <img src="../../assets/Cars360.png" alt="Image" height="50" class="mb-3"> -->
                <div class="text-900 text-3xl font-medium mb-3 text-color">Welcome Back</div>
                <span class="text-600 font-medium line-height-3">Don't have an account?</span>
                <a class="font-medium no-underline ml-2 cursor-pointer text-color" routerLink="/signup">Create today!</a>
            </div>
    
            <div>
                <form [formGroup]="logInForm">
                    <label for="email1" class="block text-900 font-medium mb-2">Email</label>
                    <input 
                        formControlName="email" 
                        type="email" 
                        pInputText 
                        placeholder="Enter Your Email" 
                        [ngClass]="{ 'is-invalid': submitted && h['email'].errors}"
                        class="form-control w-full mb-3 input"
                    >
                    <div *ngIf="h['email'].touched && h['email'].errors" class="text-danger">
                        <div *ngIf="h['email'].errors['required']">Email is required</div>
                    </div>
                    <br>
                    <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                    <input 
                        type="password" 
                        formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && h['password'].errors }"
                        placeholder="Enter Your Password" 
                        pInputText 
                        class="w-full mb-3 input form-control"
                    >
                    <div *ngIf="h['password'].touched && h['password'].errors" class="text-danger">
                        <div *ngIf="h['password'].errors['required']">Password is required</div>
                        <div *ngIf="h['password'].errors['minlength']">
                            Password must be at least 6 characters
                        </div>
                    </div>
                    <br>
                <button label="Login" pButton pRipple [disabled]="!logInForm.valid"
                (click)="onSubmit(logInForm.value)" class="p-button-raised p-button-text w-full color p-button-plain">
                    <div *ngIf="!isLoading;else loader">
                    </div>
                    <ng-template #loader>
                        <div class="spinner-border text-light" role="status">
                        </div>
                        <!-- <p-progressBar mode="indeterminate" [style]="{'height': '8px', 'background': 'white'}"></p-progressBar> -->
                    </ng-template>
                </button>
                </form>
                <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
            </div>
        </div>
    </div>
</div>