/* .top{
    margin-top: 10vh;
} */

.width{
    margin-left: 12vw;
    margin-right: 12vw;
}

.color {
    background-color:  #00C293 !important;
    color: white !important;
}

.input{
    border-color: #00C293 !important;
    box-shadow: 0 0 0 0.02rem #00C293 !important;
}

.text-color{
    color: #00C293 !important;
}

.p-progressBar-bar {
    background-color: var(--blue-900);
}