<ng-navbar-responsive [items]="items" [logo]="logo"></ng-navbar-responsive>
<div id="multi">
    <br>
    <br>
    <div class="d-flex justify-content-center align-self-center top width">
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-10">
            <div class="text-center mb-5">
                <!-- <img src="../../assets/Cars360.png" alt="Image" height="50" class="mb-3"> -->
                <div class="text-900 text-3xl font-medium mb-3 text-color">Welcome To Cars360</div>
                <span class="text-600">New User Registration</span>
            </div>
            <div>
                <form [formGroup]="registerForm">
                    <div class="row mb-4">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <label for="email" class="block text-900 font-medium mb-2">Email</label>
                            <input formControlName="useremail" type="email" pInputText placeholder="Enter Your Email"
                                [ngClass]="{ 'is-invalid': submitted && h['useremail'].errors}"
                                class="form-control w-full mb-3 input">
                            <div *ngIf="h['useremail'].touched && h['useremail'].errors" class="text-danger">
                                <div *ngIf="h['useremail'].errors['required']">Email is required</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <label for="phone" class="block text-900 font-medium mb-2">Phone Number</label>
                            <input type="text" formControlName="userphno"
                                [ngClass]="{ 'is-invalid': submitted && h['userphno'].errors }"
                                placeholder="Enter Your Number" pInputText class="w-full mb-3 input form-control" pattern="^[0-9]{10}$">
                            <div *ngIf="h['userphno'].touched && h['userphno'].errors" class="text-danger">
                                <div *ngIf="h['userphno'].errors['required']">Number is required</div>
                                <div *ngIf="h['userphno'].errors['pattern']">
                                    Number must be 10 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <label for="name" class="block text-900 font-medium mb-2">Name</label>
                            <input formControlName="username" type="text" pInputText placeholder="Enter Your Name"
                                [ngClass]="{ 'is-invalid': submitted && h['username'].errors}"
                                class="form-control w-full mb-3 input">
                            <div *ngIf="h['username'].touched && h['username'].errors" class="text-danger">
                                <div *ngIf="h['username'].errors['required']">Name is required</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <label for="password" class="block text-900 font-medium mb-2">Password</label>
                            <input type="password" formControlName="userpassword"
                                [ngClass]="{ 'is-invalid': submitted && h['userpassword'].errors }"
                                placeholder="Enter Your Password" pInputText class="w-full mb-3 input form-control">
                            <div *ngIf="h['userpassword'].touched && h['userpassword'].errors" class="text-danger">
                                <div *ngIf="h['userpassword'].errors['required']">Password is required</div>
                                <div *ngIf="h['userpassword'].errors['minlength']">
                                    Password must be at least 6 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <label for="city" class="block text-900 font-medium mb-2">City</label>
                            <p-dropdown formControlName="userCity" [ngClass]="{ 'is-invalid': submitted && h['userCity'].errors }"
                            placeholder="Select a City form the list" [showClear]="true" [options]="cities" [(ngModel)]="selectedCity" class="w-full mb-3"></p-dropdown>
                            <div *ngIf="h['userCity'].touched && h['userCity'].errors" class="text-danger">
                                <div *ngIf="h['userCity'].errors['required']">City is required</div>
                            </div>
                        </div>
                        </div>
                    <button pButton pRipple label="Signup" [disabled]="!registerForm.valid"
                        (click)="onSubmit(registerForm.value)"
                        class="p-button-raised p-button-text w-full color p-button-plain">
                        <div *ngIf="!isLoading;else loader">
                        </div>
                        <ng-template #loader>
                            <div class="spinner-border text-light" role="status">
                            </div>
                            <!-- <p-progressBar mode="indeterminate" [style]="{'height': '8px', 'background': 'white'}"></p-progressBar> -->
                        </ng-template>
                    </button>
                </form>
                <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
            </div>
        </div>
    </div>
</div>