/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */
#multi{
    background-image: url('assets/sun-tornado.svg');
    background-size: cover;
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    height: calc(100vh - 63px);
 }

 @media only screen and (max-width: 600px){
   #notfound{
      background-image: url('assets/Notfoundphone.png');
      background-size: cover;
      height:  calc(100vh - 63px);
   }
 }

 @media only screen and (min-width: 768px) {
   #notfound{
      background-image: url('assets/notfoundtab.png');
      background-size: cover;
      height:  calc(100vh - 63px);
   }
 }

 @media only screen and (min-width: 992px) {
   #notfound{
      background-image: url('assets/Frame1.png');
      background-size: cover;
      height:  calc(100vh - 63px);
   }
 }

 body{
    font-family: 'Noto Sans', sans-serif;
 }

 p-dropdown, .p-dropdown{
   width: 100% !important;
   border-color: #00C293 !important;
   box-shadow: 0 0 0 0.02rem #00C293 !important;
}

p-button .p-element{
   border-color: #FFF;
   background-color:  #00C293 !important;
   color: white !important;
   border-color: #00C293 !important;
   box-shadow: 0 0 0 0.02rem #00C293 !important;
   width: 50px;
}

.button-ele{
   border-color: #FFF;
   background-color:  #120E43 !important;
   color: white !important;
   border-color: #00C293 !important;
   box-shadow: 0 0 0 0.02rem #00C293 !important;
}

.bg{
   background-image: url('assets/protruding-squares.svg');
   height: calc(50vh - 63px);
   background-position: center;
   background-repeat: repeat;
   background-attachment: fixed;
}

#bg{
   background-image: url('assets/bullseye-gradient.svg');
   background-size: cover;
   background-position: center;
   background-repeat: repeat;
   background-attachment: fixed;
   height: calc(100vh - 63px);
}

.custombar2 .p-scrollpanel-bar {
   background-color: var(--layer-2);
   border-radius: 0;
   opacity: 1;
   transition: background-color .2s;
}